body {
	background: black;
	color: white;
	font-family: 'Roboto Mono', monospace;
	text-align: justify;
	text-shadow: 0 0 4px white;
}
/* Classes */
.red {
	color: red;
	text-shadow: 0 0 4px red;
}
.yellow {
	color: yellow;
	text-shadow: 0 0 4px yellow;
}
.green {
	color: lime;
	text-shadow: 0 0 4px lime;
}
.underline {
	text-style: underline;
}
/* Elements Styling */
a {
	color: white;
	text-shadow: 0 0 4px white;
}
h1 {
	text-align: center;
}
p {
	font-size: 18px;
}
td, th {
	box-shadow: 0 0 4px white;
	width: 140px;
	text-align: center;
}
